Name: Lavanya Deole

Net ID: lnd2037

Assignment 1

1.⁠ ⁠Display Fibonacci Series upto 10 terms

In [2]:
def fibonacci(n):
    fib_series = [0, 1]
    for i in range(2, n):
        fib_series.append(fib_series[-1] + fib_series[-2])
    return fib_series


print("Fibonacci Series (10 terms):", fibonacci(10))

Fibonacci Series (10 terms): [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

2.⁠ ⁠Display numbers at the odd indices of a list

In [3]:
def odd_index_elements(lst):
    return [lst[i] for i in range(1, len(lst), 2)]

sample_list = [10, 20, 30, 40, 50, 60, 70, 80]
print("Elements at odd indices:", odd_index_elements(sample_list))

Elements at odd indices: [20, 40, 60, 80]

3.⁠ ⁠⁠string = """

I have provided this text to provide tips on creating interesting paragraphs.

First, start with a clear topic sentence that introduces the main idea.

Then, support the topic sentence with specific details, examples, and evidence.

Vary the sentence length and structure to keep the reader engaged.

Finally, end with a strong concluding sentence that summarizes the main points.

Remember, practice makes perfect!

"""

#Your task is to count the number of different words in this text

In [5]:
def count_unique_words(text):
    words = text.lower().replace(",", "").replace(".", "").split()
    return len(set(words))

string = """

I have provided this text to provide tips on creating interesting paragraphs.

First, start with a clear topic sentence that introduces the main idea.

Then, support the topic sentence with specific details, examples, and evidence.

Vary the sentence length and structure to keep the reader engaged.

Finally, end with a strong concluding sentence that summarizes the main points.

Remember, practice makes perfect!

"""

print("Number of unique words:", count_unique_words(string))

Number of unique words: 47

4.⁠ ⁠Write a function count_vowels(word) that takes a word as an argument and returns the number of vowels in the word

In [1]:
def count_vowels(word):
    vowels = "aeiouAEIOU"
    return sum(1 for char in word if char in vowels)

print("Vowel count in 'elephant':", count_vowels("elephant"))

Vowel count in 'elephant': 3

5.⁠ ⁠Iterate through the following list of animals and print each one in all caps.

animals=['tiger', 'elephant', 'monkey', 'zebra', 'panther']

In [2]:
animals = ['tiger', 'elephant', 'monkey', 'zebra', 'panther']
print("Animals in uppercase:", [animal.upper() for animal in animals])

Animals in uppercase: ['TIGER', 'ELEPHANT', 'MONKEY', 'ZEBRA', 'PANTHER']

6.⁠ ⁠Write a program that iterates from 1 to 20, printing each number and whether it's odd or even.

In [3]:
for num in range(1, 21):
    print(f"{num} is {'even' if num % 2 == 0 else 'odd'}")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even

7.⁠ ⁠Write a function sum_of_integers(a, b) that takes two integers as input from the user and returns their sum.

In [5]:
def sum_of_integers(a, b):
    return a + b

a, b = 10, 29
print(f"Sum of {a} and {b} is:", sum_of_integers(a, b))

Sum of 10 and 29 is: 39

In [1]:
def sum_of_integers(a, b):
    return a + b

# Taking user input
a = int(input("Enter the first integer: "))
b = int(input("Enter the second integer: "))

print(f"Sum of {a} and {b} is:", sum_of_integers(a, b))

Enter the first integer: 10
Enter the second integer: 20
Sum of 10 and 20 is: 30